<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layouts.header.title_header"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home_na_html"), "#" %></li>
        <li><%= link_to t("static_pages.help_na_html"), "#" %></li>
        <li><%= link_to t("static_pages.log_na_html"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
